<div class="row">
    <div class="col-5">
        <div class="form-group">
            <input type="text" class="form-control" name="filterCategory"
                placeholder="Buscar categoria por nombre o descripcion" [(ngModel)]="filterCategory">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Orden</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Creado el</th>
                    <th scope="col">Actualizado el</th>
                    <th scope="col">Funcion</th>
                    <th scope="col">Seleccion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories |  filter:filterCategory | paginate: config; let i =index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{category.name}}</td>
              
                    <td>
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-success" data-toggle="modal"
                            [attr.data-target]="'#myModal'+category.name">
                            ver
                        </button></td>
                    <td>{{category.created_at}}</td>
                    <td>{{category.updated_at}}</td>
                    <td *ngIf="identity.id == category.commerce_id"><button type="button" class="btn btn-warning"
                            [routerLink]="['/editar-categoria', category.id]">Editar<i class="fas fa-edit"></i></button>
                        | <button type="button" class="btn btn-danger" (click)="deleteCategory(category.id)">Eliminar<i
                                class="far fa-trash-alt"></i></button>
                    </td>
                    <td *ngIf="identity.role == 'ROLE_COMMERCE' && identity.id != category.commerce_id">
                        Sin permisos
                    </td>

                    <td>
                        <button type="button" class="btn btn-info" (click)="getCategorId(category.id)">Seleccionar<i
                                class="fas fa-edit"></i></button>
                    </td>



                    <!-- The Modal -->
                    <div class="modal" id="{{ 'myModal'+ category.name}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <div [innerHTML]="category.description"></div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                   
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<pagination-controls [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide"
    [responsive]="responsive" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
    [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
    [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
    (pageChange)="onPageChange($event)">
</pagination-controls>