<div class="row">
    <div class="col-5">
        <div class="form-group">
            <input type="text" class="form-control" name="filterAppointment"
                placeholder="Buscar cita por nombre o comercio, fecha, servicio" [(ngModel)]="filterAppointment">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th *ngIf="identity.role == 'ROLE_CLIENT'" scope="col">Comercio</th>
                    <th *ngIf="identity.role == 'ROLE_COMMERCE'" scope="col">Cliente</th>
                    <th *ngIf="identity.role == 'ROLE_COMMERCE'" scope="col">Telefono</th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Estado</th>
                    <th *ngIf="status == 'reservas-pendientes' || status == 'citas-pendientes'" scope="col">Funcion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of appointments |  filter:filterAppointment | paginate: config; let i =index">
                    <td *ngIf="identity.role == 'ROLE_CLIENT'">{{appointment.name_commerce}}</td>
                    <td *ngIf="identity.role == 'ROLE_COMMERCE'">{{appointment.nameClient}}</td>
                    <td *ngIf="identity.role == 'ROLE_COMMERCE'">{{appointment.phone}}</td>
                    <td>{{appointment.name}}</td>
                    <td>{{appointment.price}}</td>
                    <td>{{appointment.schedule_day}}</td>
                    <td>{{appointment.schedule_hour}}</td>
                    <td>{{appointment.status}}</td>
                    <td *ngIf="status == 'citas-pendientes' && identity.id == appointment.client_id"><button type="button" class="btn btn-warning"
                            [routerLink]="['/editar-cita', appointment.id, appointment.commerce_id]">Editar<i class="fas fa-edit"></i></button>
                            
                        <button type="button" class="btn btn-danger" (click)="deleteAppointment(appointment.id)">Eliminar<i class="far fa-trash-alt"></i></button>
                    </td>

                    <td *ngIf="status == 'reservas-pendientes' && identity.role == 'ROLE_COMMERCE'">
                        <button type="button" class="btn btn-warning" (click)="changeStatus('CONFIRMADA',appointment.id)" >CONFIRMAR<i class="fas fa-edit"></i></button>
                       <button type="button" class="btn btn-danger"   (click)="changeStatus('CANCELADA', appointment.id)">CANCELAR<i class="far fa-trash-alt"></i></button>
                </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<pagination-controls [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide"
    [responsive]="responsive" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
    [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
    [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
    (pageChange)="onPageChange($event)">
</pagination-controls>