/* You can add global styles to this file, and also import other style files */
.avatar_edit{
    width: 200px;
	margin-bottom: 200px;
}

.card-header a{
	color: #444;
}

.promotion-image{
	height: 200px;
	overflow: hidden;
}

footer{
	margin-top: 50px;
	color: lightgray;
}