<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Creado el</th>
            <th scope="col">Actualizado el</th>
            <th scope="col">Funcion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>{{category.name}}</td>
            <td innerHtml="{{category.description}}"></td>
            <td>{{category.created_at}}</td>
            <td>{{category.updated_at}}</td>
            <td><button type="button" class="btn btn-success">Editar<i class="fas fa-edit"></i></button>
                | <button type="button" class="btn btn-danger">Eliminar<i class="far fa-trash-alt"></i></button>
            </td>
        </tr>
    </tbody>
</table>