<div class="col-md-12 mt-3">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <h1>{{page_title}}</h1>

    <p *ngIf="status != 'success'">
        Crea una promocion y has crecer tu negocio
    </p>
    <hr />

    <div class="alert alert-danger col-md-8" *ngIf="status == 'error'">
        La promocion se ha creado correctamente, puede que el nombre ya este en uso!!
    </div>
    <!--Formulario de crear promotion-->

    <form #promotionForm="ngForm" (ngSubmit)="onSubmit(promotionForm)" class="col-md-8">

        <div class="form-group">
            <label for="coupon">Nombre del cumpon</label>
            <input type="text" name="coupon" class="form-control" #coupon="ngModel" [(ngModel)]="promotion.coupon"
                required pattern="[A-Za-z0-9]+">

            <small *ngIf="!coupon.valid && coupon.touched" class="invalid-feedback d-block">
                El nombre del cupon no es válido
            </small>
        </div>

        <div class="form-group">
            <label for="max">Maximo</label>
            <input type="text" name="max" class="form-control" #max="ngModel" [(ngModel)]="promotion.max" required
                pattern="[0-9]+">

            <small *ngIf="!max.valid && max.touched" class="invalid-feedback d-block">
                Solo numeros porfavor
            </small>
        </div>

        <div class="form-group">
            <br />
            <label for="expiry">Elegir fecha de expiracion:</label>
            <br />
            <ngb-datepicker #dp [(ngModel)]="dateSelected" name="first" [minDate]="minDate"
                (navigate)="date = $event.next" required>
            </ngb-datepicker>
            <br />
            <br />
        </div>

        <div class="form-group">
            <label for="discount">Descuento</label>
            <input type="text" name="discount" class="form-control" #discount="ngModel" [(ngModel)]="promotion.discount"
                required pattern="[0-9]+">

            <small *ngIf="!discount.valid && discount.touched" class="invalid-feedback d-block">
                Solo numeros porfavor
            </small>
        </div>

        <hr />
        <div class="form-group">
            <label for="image">Imagen de promocion</label>

            <angular-file-uploader [config]="afuConfig" (ApiResponse)="imageUpload($event)" >
            </angular-file-uploader>
        </div>
        <hr />
        <br />
        <label for="description">Descripcion</label>
        <textarea [froalaEditor]="froala_options" name="description" class="form-control" #description="ngModel"
            [(ngModel)]="promotion.description" required></textarea>

            <br />
        <input type="submit" value="Guardar" class="btn btn-success" [disabled]="promotionForm.invalid" />
    </form>

    <br>
</div>